.center{
    display: flex;
    justify-content: center;

}
.title{
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 600px;
}
button{
    width: 100px;
}
